<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <form [formGroup]="bookForm">
    <div *ngIf="titleFormControl.status === 'PENDING'">
      Checking...
    </div>
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title">
      <mat-hint>English letters only.</mat-hint>
      <mat-error *ngIf="titleFormControl.hasError('required')">
        Title is required.
      </mat-error>
      <mat-error *ngIf="titleFormControl.hasError('titleExists')">
        Title already exists.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Author" formControlName="author">
      <mat-error *ngIf="authorFormControl.hasError('required')">
        Author is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Publish Date"
        formControlName="publishDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="publishDateFormControl.hasError('required')">
        Publish Date is required.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">CANCEL</button>
  <button mat-button (click)="onSave(bookForm.value)" [disabled]="!bookForm.valid" color="primary">SAVE</button>
</mat-dialog-actions>
